// 头像动画
@keyframes user-img {
  0% {
    box-shadow: 0px 0px 0px 0px rgb(103, 153, 254);
  }

  50% {
    box-shadow: 0px 0px 100px 10px rgb(103, 153, 254);
  }

  100% {
    box-shasdow: 0px 0px 0px 0px rgb(103, 153, 254);
  }
}

// 文字动画
@keyframes show-skill {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

// 时间线动画（上）
@keyframes time-line-top {
  0% {
    transform: translateY(-25%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

// 时间线动画（下）
@keyframes time-line-bottom {
  0% {
    transform: translateY(25%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

// 字体
@font-face {
  font-family: "OPPOSans-L";
  font-weight: 1 999;
  src: url("../fonts/OPPOSans-L.ttf");
}

// 媒体
@media (min-width: 100px) and (max-width: 767px) {
  /* 在此添加针对手机屏幕的样式 */
  html {
    font-size: 12px !important;
  }

  .skill-pane {
    padding-left: 0 !important;
  }

  // 时间线
  .time-line {
    ul {
      flex-direction: column !important;
      align-items: center !important;
      height: 80% !important;

      // 时间线
      &::before {
        content: "" !important;
        background: none !important;
      }

      li {
        position: relative !important;
        margin-bottom: 1.5rem;
        // 时间线卡片
        .time-card {
          width: 100% !important;
          height: 100% !important;
          // 箭头
          &::before {
            content: "" !important;
          }
        }

        .time-card::before {
          border: 0 !important;
          top: 0 !important;
        }
      }

      li:nth-child(2n) .time-card {
        position: relative !important;
      }
    }

    // 时间线面板动画
    .time-line-animation {
      @for $i from 1 through 3 {
        & > li:nth-child(#{$i}) .time-card {
          animation: time-line-top 1s !important;
          animation-delay: ($i * 0.5s) !important;
          animation-fill-mode: forwards !important;
        }
      }
    }
  }

  // 爱好介绍
  .hobby {
    .contain {
      flex-wrap: wrap !important;
    }

    // 爱好介绍卡片
    .hobby-card {
      width: 8.75rem !important;
      height: 20rem !important;
      padding: 2rem !important;
      border-radius: 1rem !important;

      // 头像
      .art {
        width: 6.25rem !important;
        height: 6.25rem !important;
      }

      p {
        &.title {
          font-size: 0.875rem !important;
        }

        &.sub-title {
          font-size: 0.6875rem !important;
        }
      }
    }
  }

  // 联系方式
  .contact {
    .title {
      font-size: 3rem !important;
    }

    // 联系方式面版
    .contact-pane {
      width: 32.5rem !important;
      height: 18.75rem !important;

      // 联系方式组件
      .contact-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25%;
        height: 50%;
        font-size: 1rem !important;

        a {
          width: 4rem !important;
          height: 4rem !important;
        }

        img {
          width: 4rem !important;
          height: 4rem !important;
        }
      }
    }

    // 页脚
    .footer {
      p {
        color: gray !important;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* 在此添加针对平板屏幕的样式 */
  html {
    font-size: 14px !important;
  }

  .skill-pane {
    padding-left: 0 !important;
  }

  // 时间线
  .time-line {
    ul {
      flex-direction: column !important;
      align-items: center !important;
      height: 80% !important;

      // 时间线
      &::before {
        content: "" !important;
        background: none !important;
      }

      li {
        position: relative !important;
        margin-bottom: 1.5rem;
        // 时间线卡片
        .time-card {
          width: 100% !important;
          height: 100% !important;
          // 箭头
          &::before {
            content: "" !important;
          }
        }

        .time-card::before {
          border: 0 !important;
          top: 0 !important;
        }
      }

      li:nth-child(2n) .time-card {
        position: relative !important;
      }
    }

    // 时间线面板动画
    .time-line-animation {
      @for $i from 1 through 3 {
        & > li:nth-child(#{$i}) .time-card {
          animation: time-line-top 1s !important;
          animation-delay: ($i * 0.5s) !important;
          animation-fill-mode: forwards !important;
        }
      }
    }
  }

  // 爱好介绍
  .hobby {
    .contain {
      flex-wrap: wrap !important;
    }

    // 爱好介绍卡片
    .hobby-card {
      width: 8.75rem !important;
      height: 20rem !important;
      padding: 2rem !important;
      border-radius: 1rem !important;

      // 头像
      .art {
        width: 6.25rem !important;
        height: 6.25rem !important;
      }

      p {
        &.title {
          font-size: 0.875rem !important;
        }

        &.sub-title {
          font-size: 0.6875rem !important;
        }
      }
    }
  }

  // 联系方式
  .contact {
    .title {
      font-size: 3rem !important;
    }

    // 联系方式面版
    .contact-pane {
      width: 32.5rem !important;
      height: 18.75rem !important;

      // 联系方式组件
      .contact-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25%;
        height: 50%;
        font-size: 1rem !important;

        a {
          width: 4rem !important;
          height: 4rem !important;
        }

        img {
          width: 4rem !important;
          height: 4rem !important;
        }
      }
    }

    // 页脚
    .footer {
      p {
        color: gray !important;
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1920px) {
  /* 在此添加针对电脑屏幕的样式 */
  html {
    font-size: 16px !important;
  }
}

html {
  font-size: 12px;
}
// 主体
html,
body,
.main {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  overflow-x: auto;
  font-family: "OPPOSans-L";
}

ul {
  padding: 0 !important;
}

.main {
  overflow-x: visible !important;
}

// 面板
.container {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  // transition: all 0.3s ease;
}

.container-animation {
  transition: all 0.5s ease;
}

// 页面
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  color: white;

  // 自我介绍
  &.self {
    background: url("../images/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    // 头像
    .user-img {
      width: 16rem;
      height: 16rem;
      border: 0.25rem solid rgb(103, 153, 254);
      border-radius: 50%;
      // box-shadow: 0px 0px 100px 10px rgb(103, 153, 254);
      animation: user-img 5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }

    // 标题
    .title {
      font-size: 2.25rem;
      margin: 0.75rem;
    }

    // 副标题
    .sub-title {
      font-size: 1.5rem;
      margin: 0.75rem;
    }

    // 文本
    .text {
      font-size: 1.5rem;
      margin: 0.75rem;
    }
  }

  // 技能介绍
  &.skill {
    background: url("../images/skill.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    // 技能面板
    .skill-pane {
      padding-left: 12.5rem;
      width: 100%;

      // 循环文本
      @for $i from 2 through 20 {
        p:nth-child(#{$i}) {
          margin-left: (3px * $i);
        }
      }

      p {
        font-size: 1.75rem;
        margin: 0.75rem 0;
        opacity: 0;

        &.title {
          font-size: 2.25rem;
        }
      }

      // 分割线
      .hr {
        width: 28.125rem;
        border: none;
        border-bottom: 1px solid white;
      }
    }

    // 技能标题
    .skill-font {
      position: absolute;
      top: -4rem;
      right: -4rem;
      width: 16rem;
      height: 16rem;
    }

    // 技能文字动画
    .skill-animation {
      @for $i from 1 through 20 {
        p:nth-child(#{$i}) {
          animation: show-skill 1s;
          animation-delay: ($i * 0.2s);
          animation-fill-mode: forwards;
        }
      }
    }
  }

  // 时间线
  &.time-line {
    background: url("../images/time-line.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    ul {
      display: flex;
      width: 80%;
      height: 100%;
      position: relative;

      // 时间线
      &::before {
        content: " ";
        position: absolute;
        top: 50%;
        width: 100%;
        height: 2px;
        // background-color: white;
        background: linear-gradient(
          45deg,
          #ff0000 0%,
          #ffb600 11%,
          #fff600 22%,
          #a5ff00 33%,
          #00a9ff 44%,
          #0400ff 55%,
          #8a00fc 66%,
          #ff00e9 77%,
          #ff0059 88%,
          #ff0000 100%
        );
      }

      li {
        width: 100%;
        height: 100%;

        // 时间线卡片
        .time-card {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;
          width: 25rem;
          height: 15.625rem;
          color: black;
          background-color: white;
          border-radius: 1rem;
          box-shadow: 0.3125rem 0.3125rem 0.625rem rgb(0, 0, 0, 0.5);
          opacity: 0;

          // 箭头
          &::before {
            content: " ";
            position: absolute;
            right: calc(50% - 2rem);
            border-top: 2rem solid transparent;
            border-right: 2rem solid transparent;
            border-left: 2rem solid transparent;
            border-bottom: 2rem solid transparent;
          }

          p {
            font-size: 1.125rem;
            margin: 0.25rem 0;

            &.title {
              font-size: 2rem;
              margin-bottom: 0.5rem;
            }
          }
        }

        &:nth-child(odd) .time-card::before {
          border-top: 2rem solid white;
          bottom: -4rem;
        }

        &:nth-child(even) .time-card::before {
          border-bottom: 2rem solid white;
          top: -4rem;
        }
      }

      li:nth-child(2n) .time-card {
        position: absolute;
        bottom: 0;
      }
    }

    // 时间线面板动画
    .time-line-animation {
      @for $i from 1 through 3 {
        & > li:nth-child(#{$i}) .time-card {
          @if ($i % 2) ==1 {
            animation: time-line-top 1s;
          } @else {
            animation: time-line-bottom 1s;
          }

          animation-delay: ($i * 0.5s);
          animation-fill-mode: forwards;
        }
      }
    }
  }

  // 爱好介绍
  &.hobby {
    background: url("../images/hobby.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .contain {
      flex-direction: row;
      justify-content: space-around;
    }

    // 爱好介绍卡片
    .hobby-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 17.5rem;
      height: 28.125rem;
      padding: 4rem;
      border-radius: 2rem;

      &.left {
        background-color: rgb(255, 194, 204, 0.7);

        .art {
          border: 0.25rem solid #f3add1;
        }
      }

      &.mid {
        background-color: rgba(149, 255, 184, 0.7);

        .art {
          border: 0.25rem solid #caf9d1;
        }
      }

      &.right {
        background-color: rgba(106, 178, 255, 0.7);

        .art {
          border: 0.25rem solid #8ab4e9;
        }
      }

      // 头像
      .art {
        width: 12.5rem;
        height: 12.5rem;
        border-radius: 50%;
        margin-bottom: 2rem;
      }

      p {
        text-align: center;
        margin: 0.25rem 0;

        &.title {
          font-size: 1.75rem;
        }

        &.sub-title {
          font-size: 1.375rem;
        }
      }
    }
  }

  // 联系方式
  &.contact {
    background: url("../images/contact.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;

    .title {
      font-size: 4rem;
    }

    // 联系方式面版
    .contact-pane {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 75rem;
      height: 37.5rem;
      background-color: rgb(255, 255, 255, 0.5);
      border-radius: 0.25rem;

      // 联系方式组件
      .contact-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25%;
        height: 50%;
        font-size: 1.25rem;

        a {
          width: 6.25rem;
          height: 6.25rem;
        }

        img {
          width: 6.25rem;
          height: 6.25rem;
          border-radius: 1rem;
        }
      }
    }

    // 页脚
    .footer {
      p {
        font-size: 1.5rem;
        color: white;
        text-align: center;
      }
    }
  }

  // 容器
  .contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80%;
    height: 80%;

    // 下滑按钮
    .down-link {
      position: absolute;
      bottom: 0;
      width: 3rem;
      height: 3rem;
      transition: all 0.5s;

      .down-img {
        width: 3rem;
        height: 3rem;
      }

      &:hover {
        opacity: 0.6;
      }
    }
  }
}

$barColor: white;

// 侧边按钮
.controls {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  border-radius: 8px;
  overflow: hidden;

  .bar {
    display: block;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 12px;
    height: 48px;
    background-color: $barColor;
    z-index: -1;
    transition: all 0.5s;
    transform: translateY(0px);
  }

  ul {
    position: relative;
    list-style: none;
    border-radius: 8px;
    margin: 0;
    padding: 0;

    li {
      width: 12px;
      height: 48px;
      border-right: 1px solid $barColor;
      border-left: 1px solid $barColor;
      border-bottom: 1px solid $barColor;
      cursor: pointer;
      transition: all 0.5s;

      &:first-child {
        border-top: 1px solid $barColor;
        border-radius: 8px 8px 0 0;
      }

      &:last-child {
        border-bottom: 1px solid $barColor;
        border-radius: 0 0 8px 8px;
      }
    }
  }
}
